body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333; /* Change background color here */
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 2em;
  margin: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

nav a:hover {
  color: #ddd;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.project-list {
  list-style: none;
  padding: 0;
}

.project {
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.project h3 {
  font-size: 1.2em;
  margin-bottom: 5px;
}
